body {
       font-family: georgian ;
       background-color: #f8f9fa ;
       color: #48494B ;
       margin: 0 ;
       padding: 0 ;
       }

section, h1 {
             margin: 30px ;
             padding 0 30px ;
             }
       
nav  {
      text-align: center ;
      background-color: #48494B ;
      border-bottom: 2px solid black ;
      position: sticky ;
      top: 0 ;
      width: 100% ;
      padding: 10px 0 ;
      }

nav ul {
        list-style-type: none ;
        }
                     
nav ul li {
           display: inline-block ;
           margin: 5px ;
           }
                                
nav ul li a {
             color: white ;
             text-decoration: none ;
             font-weight: bold ;
             }
              
ul li a:hover {
               text-decoration:underline ;
               }
               
ul li a.active {
                color: #00A86B ; 
                }

section {
          margin-bottom: 5px ;
          }

img {
      width: 600px ;
      height: auto ;
      display: block ;
      margin: 20px 20px 20px 0 ;
      }

fieldset {
      border: solid black 2px ;
      }
                    
button {
        background-color: black ;
        color: white ;
        padding: 10px 20px ;
        font-weight: bold ;
        margin: 5px ;
        }

table {
       width: 100% ;
       }

th, td {
        border: 1px solid black ;
        padding: 10px ;
        text-align: left ;
        }
